h1 {
  font-family: 'Taviraj', serif;
  color: indigo;
}

h2 {
  color: gray;
}

.book {
  border: 1px solid black;
  margin-bottom: 12px;
  padding: 10px;
  background-color: magenta;
}

input {
  width: 600px;
  background-color: magenta;
  color: white;
  border: none;
}

select {
  margin-bottom: 10px;
}

body {
  background-color: magenta;
}

img {
  margin-top: 10px;
  float: right;
}
